
<div class="head-logo">
  <div class="image">
    <img src="assets/img/easymaq_logo.png" alt="logo.png">
  </div>
</div>

<div class="container-login-register" [ngClass]="{'active': registro}">
  <div class="form-login">
    <h2>Iniciar Sesion</h2>
      <form #formulario="ngForm" novalidate="novalidate" >
                      <div class="eq-login-pass">
                          <md-input-container class="full-width">
                                  <input mdInput  placeholder="Correo electronico"
                                          type="email"
                                          name="email"
                                          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                                          ngModel
                                          #correo="ngModel"
                                          required>
                            </md-input-container>
                        <small *ngIf="correo.errors?.pattern">El campo no tiene el formato de correo, por favor ingrese un correo valido</small>
                      </div>
                          <div class="eq-login-email">
                              <md-input-container class="full-width">
                                  <input mdInput placeholder="Password"
                                          name="password"
                                          type="password"
                                          ngModel
                                          required>
                              </md-input-container>
                          </div>
                  <button type="submit" (click)="submit(formulario.value.email,formulario.value.password,formulario)"
                          class="btn-login">
                              Ingresar
                  </button>
      </form>
      <!-- <small><a href="">¿Olvidaste tu contraseña?</a></small> -->
      <small (click)="changeContainer()" ><strong>REGISTRATE</strong></small>
  </div>

  <div class="form-registro">
    <h2>Registrate</h2>
      <form #formulario2="ngForm" novalidate="novalidate" >
                      <div>
                        <md-input-container class="full-width">
                                  <input mdInput  placeholder="Empresa"
                                          type="text"
                                          name="empresa"
                                          ngModel
                                          >
                        </md-input-container>
                      </div>
                      <div>
                        <md-select placeholder="Seleccione el pais" ngModel="selectPais" name="selecPais">
                          <md-option *ngFor="let pais of listaPais" [value]="pais.id">
                            {{ pais.name }}
                          </md-option>
                        </md-select>
                      </div>
                      <div class="eq-login-pass">
                          <md-input-container class="full-width">
                                  <input mdInput  placeholder="Correo electronico"
                                          type="email"
                                          name="email2"
                                          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                                          ngModel
                                          #correo="ngModel"
                                          required>
                            </md-input-container>
                        <small *ngIf="correo.errors?.pattern">El campo no tiene el formato de correo, por favor ingrese un correo valido</small>
                      </div>
                          <div class="eq-login-email">
                              <md-input-container class="full-width">
                                  <input mdInput placeholder="Password"
                                          name="password2"
                                          type="password"
                                          ngModel
                                          required>
                              </md-input-container>
                          </div>
                  <button type="submit" (click)="register(formulario2.value.email2,formulario2.value.password2,formulario2,formulario2.value.empresa,formulario2.value.selecPais)"
                          class="btn-login">
                              Ingresar
                  </button>
      </form>
      <!-- <small><a href="">¿Olvidaste tu contraseña?</a></small> -->
      <small>¿Ya tienes una cuenta?</small>
      <small  (click)="changeContainer()"><strong>Haz clic para iniciar sesión</strong></small>
  </div>
</div>

<app-easymodal [dataconfig]="misdatosdataconfig"></app-easymodal>
<app-easymodal [dataconfig]="misdatosdataconfig2" (pasaBtnmodal)="showBtnmodal($event)"></app-easymodal>

<!-- <app-modal></app-modal> -->
